<!--{{ recipe | json }}-->
<span *ngIf="recipe != undefined">
  <div class="row">
    <div class="col-xs-12">
      <img [src]="recipe.imagePath"
           alt="{{ recipe.description }}"
           style="max-height: 350px"
           class="img-responsive">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h1>{{ recipe.name }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle">
          Manage recipes <span class="caret">&nbsp;</span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#">Add ingredient</a> </li>
          <li><a href="#">Edit recipe</a> </li>
          <li><a href="#">Delete recipe</a> </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      {{ recipe.description }}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      Ingredients
    </div>
  </div>

</span>
